.movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 80px 50px 0 50px;
  background-color: black;
}

.wrapper {
 position: relative;
}

h3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.98);
  float: inline-start;
  margin-left: 7%;
  border-bottom: 3px solid rgba(115, 171, 32, 0.53);
}