.top-movie-container {
    max-width: 100%;
}

h1 {
    font-size: 80px;
    margin-bottom: -5px;
}

.top-movie-poster {
    width: 300px; 
    margin-right: 20px; 
    z-index: 1;
}

h2 {
    padding-left: 10px;
    font-style: italic;
}

.top-movie {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    color: rgba(255, 255, 255, 0.857);
}

.top-movie-img {
    position: relative;
    z-index: 0;
    box-shadow: inset 0 0 100px rgb(15, 15, 15) !important;
    filter: brightness(30%);
    max-height: 70vh;
}

.top-movie-info {
    text-align: left;
    z-index: 1;
    width: 600px;
    max-height: 100%;
}

.top-movie-info p {
    max-width: fit-content;
    padding-left: 10px;
}

.data {
    font-size: smaller;
    margin-bottom: 0;
    border-radius: 15px;
    padding: 2px 5px;
    border-style: hidden;
    background-color: rgba(139, 206, 38, 0.53);
}

.genres-button {
    display: flex;
    justify-content: space-between;
}

.top-movie button {
    border: none;
    font-size: larger;
    background-color: transparent;
    color: rgb(255, 255, 255, .95);
    padding: 5px;
    width: max-content;
}

.top-movie a {
    color: rgb(255, 255, 255, .95);
}

.overlay {
    z-index: 3;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

