.top-movie-container {
    max-width: 100%;
    position: relative;
}

.top-movie {
    margin: 0;
    color: rgba(255, 255, 255, 0.857);
}

.top-movie-img {
    position: relative;
    box-shadow: inset 0 0 100px rgb(15, 15, 15) !important;
    /* filter: brightness(60%); */
}

.top-movie-info {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    max-height: 100%;
}

.overlay {
    z-index: 3;
    position: relative;
    background-size: cover;
    /* background: linear-gradient(to right, rgb(255, 27, 27), rgba(0, 0, 0, 0.229)); */
}

.hidden {
    display: none;
}

