.top-movie-container {
    display: block;
    height: 80%;
    background: rgb(253, 0, 0); 
    overflow: hidden;
}

h1 {
    font-size: 5em;
    margin-bottom: -5px;
}

.top-movie-poster {
    width: 20%; 
    height: auto;
    margin-right: 20px; 
    z-index: 1;
}

h2 {
    padding-left: 10px;
    font-style: italic;
}

.top-movie {
    position: absolute;
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    color: rgba(255, 255, 255, 0.857);
    width: 100%;
    height: auto;
}

.top-movie-img {
    position: relative;
    z-index: 0;
    box-shadow: inset 0 0 40px rgb(15, 15, 15);
    filter: brightness(40%);
    height: auto;
    width: 100%; 
}

.top-movie-info {
    text-align: left;
    z-index: 1;
    width: 40vw;
    height: 50%;
}

.top-movie-info p {
    max-width: fit-content;
    padding-left: 10px;
}

.data {
    font-size: smaller;
    margin-bottom: 0;
    border-radius: 15px;
    padding: 2px 5px;
    border-style: hidden;
    background-color: rgba(139, 206, 38, 0.53);
}

.genres-button {
    display: flex;
    justify-content: space-between;
}

.top-movie button {
    border: none;
    font-size: larger;
    background-color: transparent;
    color: rgb(255, 255, 255, .95);
    padding: 5px;
    width: max-content;
}

.top-movie a {
    color: rgb(255, 255, 255, .95);
}

.overlay {
    z-index: 3;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
