.App {
  text-align: center;
  background-color: black;
}

/* .Nav-bar {
  min-height: 2vh;
  padding: 15px;
} */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding-right: 10px;
  background: black;
  color: white;
}

header nav h1 {
  font-size: 1.2em;
  margin-right: auto;
  margin-bottom: 9px;
  padding-bottom: 3px;

  border-bottom: 3px solid rgba(115, 171, 32, 0.53);
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: white;
}

header nav a.active {
  background: rgba(115, 171, 32, 0.53);
}