.App {
  text-align: center;
  background-color: black;
}

/* Tablet */
@media screen and (max-width: 768px) {

  .top-movie a{
    font-size: 12px;
  }

  .top-movie-description {
    font-size: smaller;
  }

  .top-movie-info h2{
    font-size: 1em;
  }

  .top-movie-info h1{
    font-size: 2.5em;
  }
}

/* Browser min*/
@media screen and (max-width: 600px) {

  .top-movie-description {
    display: none;
  }

  .nav-h1 {
    display: none;
  }

  .rancid-tomatillo-logo {
    margin: 10px;
  }

  .movies-container {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .genres-button {
    flex-direction: column;
  }

}

/* Larger Phone */
@media screen and (max-width: 425px) {
  
  .top-movie h1{
    font-size: 2em;
  }

  .top-movie-description, h2 {
    display: none;
  }

  .movies-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .top-movie-poster {
    display: none;
  }

  .top-movie-info {
    width: auto !important;
  }

  .genres-button {
    flex-direction: column;
  }

  .genres-button p {
    margin-right: 10px
  }

  .nav-h1 {
    display: none;
  }

  .rancid-tomatillo-logo {
    margin: 10px;
}

}
