.card {
    box-sizing: border-box;
    padding: 0;
    display: flex; /* Use flexbox to center the poster image if needed */
    justify-content: space-evenly;
    align-items: center; /* Center vertically */
    margin: 0 0 40px;
}

.poster {
  width: 90%; /* Set width to fill the card */
  height: auto;
  border-radius: 10px;
}