dialog {
    padding: 0;
    background-color: black;
    display: block;
    color: rgb(255, 255, 255, .9) !important;
    border: none;
}

dialog img {
    margin: 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 250px 50px rgba(0, 0, 0, 0.618) inset;
}

.background-overlay {
    z-index: 0;
    filter: brightness(40%);
}

.dialog-contents {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    display: flex !important;
    align-items: center;
}

.dialog-contents button {
    border: none;
    font-size: larger;
    background-color: transparent;
    color: rgb(255, 255, 255, .95);
    float: inline-start;
    padding: 0 10px 0 20px;
    margin: 15px auto 0 0;
    margin-left: auto;
    width: max-content;
}

.dialog-contents a {
    color: rgb(255, 255, 255, .95);
}

dialog button:hover {
    border-radius: 15px;
    background-color: rgba(139, 206, 38, 0.2);
    color: rgb(139, 206, 38, 0.53);
}

.movie-details {
    display: block;
    max-width: 520px;
    min-height: fit-content;
    padding: 50px;
    margin-left: 5%;
}

.overview {
    padding: 3% 0 3%;
    text-align: left;
}

.deep-details div {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border-style: hidden;
    background-color: rgba(139, 206, 38, 0.53);
    padding: 2px 5px;
    font-size: smaller;
    max-width: fit-content;
    margin-top: 8px;
}

.deep-details dd {
    margin: 0;
}

.details-title {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 3px;
}

.details-data {
    font-weight: 600;
}

.movie-details h1 {
    font-size: 3em;
}

/* Browser min*/
@media screen and (max-width: 660px) {

    .deep-details {
        flex-direction: column !important;
    }

    .deep-details div {
        margin: 5px;
        max-width: fit-content;
    }

}

/* Larger Phone */
@media screen and (max-width: 450px) {

    .deep-details dd,
    .deep-details dt {
        font-size: smaller;
    }

    .movie-details h1 {
        font-size: 2em !important;
    }

    .dialog-contents {
        overflow: scroll;
    }

}