dialog {
    padding: 0;
    display: block;
    color: rgb(255, 255, 255, .9) !important;
    border: none;
}

dialog img {
    margin: 0;
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 250px 150px black inset;
}

.background-overlay {
    z-index: 0;
    filter: brightness(30%);
}

.dialog-contents {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
}

dialog button {
    border: none;
    font-size: larger;
    background-color: transparent;
    color: rgb(255, 255, 255);
    float: inline-start;
    padding: 5px;
    padding-left: 30px;
    padding-right: 10px;
    margin-left: 20px;
    width: max-content;
}

dialog button:hover {
    border-radius: 15px;
    background-color: rgb(149, 149, 149, .3);
}

.movie-details {
    display: block;
    max-width: 50%;
    min-height: 60%;
    padding: 50px;
    margin-left: 10%;
}

.overview {
    padding-bottom: 10%;
    padding-top: 3%;
}

.deep-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.deep-details div {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border-style: hidden;
    background-color: rgba(139, 206, 38, 0.53);
    padding: 2px 10px;
}

.deep-details p {
    margin: 0;
}

.details-title {
    color: rgba(255, 255, 255, 0.492);
    padding-right: 3px;
}

.details-data {
    font-weight: 600;
}